@use '../variables' as *;
// Loading Styles
.loading {
  display: flex;
  justify-content: center;
  height: 100vh;

  .loading__spinner {
    width: 3rem;
    height: 3rem;
    border: 0.25rem solid $primary-color;
    border-top: 0.25rem solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
