$bg-color: #ffffff;
$primary-color: #2563eb;
$primary-color-hover: #1e40af;
$error-color: #dc2626;
$text-color: #000000;
$modal-shadow-color: rgba(0, 0, 0, 0.5);
$shadow-color: rgba(0, 0, 0, 0.1);
$close-icon-color: #9ca3af;
$border-color: #d1d5db;
$disabled-color: #d1d5db;
$disabled-bg-color: #9ca3af;

$font-bold: 700;
$border-radius: 0.25rem;
